:root {
    --color-black: rgb(0, 0, 0);
    --color-black-1: rgb(24, 24, 24);
    --color-white: rgb(240, 240, 240);

    --default-app-header-height: 62px;
    --default-font-family: Arial, Helvetica, sans-serif;
    --default-font-size: 16px;
}

body {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;

    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

.app .app-content {
    height: calc(100vh - var(--default-app-header-height));
    max-height: calc(100vh - var(--default-app-header-height));

    background-color: var(--color-black-1);
    overflow-y: auto;
}

.app .app-header {
    height: var(--default-app-header-height);

    background-color: var(--color-black);
    color: var(--color-white);
}

.app .app-header .logo {
    height: calc(var(--default-app-header-height) - 8px);
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.app .app-header .title {
    height: var(--default-app-header-height);
    line-height: var(--default-app-header-height);
}

.d-inline-block { display: inline-block; }

.h1 { font-size: 2.25rem; }
.h2 { font-size: 1.875rem; }
.h3 { font-size: 1.5rem; }
.h4 { font-size: 1.125rem; }
.h5 { font-size: 0.875rem; }
.h6 { font-size: 0.75rem; }

.vertical-align-middle { vertical-align: middle; }
.vertical-align-top { vertical-align: top; }
