:root {
    --color-black: rgb(0, 0, 0);
    --color-black-1: rgb(48, 48, 48);
    --color-white: rgb(240, 240, 240);
    --color-white-1: rgb(225, 225, 225);

    --default-app-header-height: 62px;
    --default-font-family: Arial, Helvetica, sans-serif;
    --default-font-size: 16px;
}

article, section { display: inline-block; }

body {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

body, input, select {
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

.app .app-content {
    height: calc(100vh - var(--default-app-header-height));
    max-height: calc(100vh - var(--default-app-header-height));

    background-color: var(--color-black-1);
    color: var(--color-white);
    overflow-y: auto;
}

.app .app-header {
    height: var(--default-app-header-height);

    background-color: var(--color-black);
    color: var(--color-white);
}

.app .app-header .logo {
    height: calc(var(--default-app-header-height) - 8px);
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.app .app-header .title {
    height: var(--default-app-header-height);
    line-height: var(--default-app-header-height);
}

.bold { font-weight: bold; }
.border-bottom-1 { border-bottom: 1px solid var(--color-white); }
.border-right-1 { border-right: 1px solid var(--color-white); }

.container .col-1, .container .col-2, .container .col-3, .container .col-4
, .container .col-5, .container .col-6, .container .col-7, .container .col-8
, .container .col-9, .container .col-10, .container .col-11, .container .col-12 {
    display: inline-block;
}

.container { display: block; }
.container .col-1 { width: 8.3333%; }
.container .col-11 { width: 91.6667%; }
.container .col-2 { width: 16.6667%; }
.container .col-10 { width: 83.3333%; }
.container .col-3 { width: 25%; }
.container .col-9 { width: 75%; }
.container .col-4 { width: 33.3333%; }
.container .col-8 { width: 66.6667%; }
.container .col-5 { width: 41.6667%; }
.container .col-7 { width: 58.3333%; }
.container .col-6 { width: 50%; }
.container .col-12 { width: 100%; }
.container .row { display: block; }
.d-inline-block { display: inline-block; }
.h0 { font-size: 0; }
.h1 { font-size: 2.25rem; }
.h2 { font-size: 1.875rem; }
.h3 { font-size: 1.5rem; }
.h4 { font-size: 1.125rem; }
.h5 { font-size: 0.875rem; }
.h6 { font-size: 0.75rem; }
.line-height-1-5 { line-height: 1.5; }
.line-height-2 { line-height: 2; }
.push-down { margin-top: 8px; }
.push-left { margin-right: 8px; }
.push-right { margin-left: 8px; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.vertical-align-middle { vertical-align: middle; }
.vertical-align-top { vertical-align: top; }
