.app > .content .quest .duration { width: 104px; }

.app > .header {
    box-shadow: 0 1px 1px var(--default-header-border-color-1), 0 2px 1px var(--default-header-border-color-2);
    background-color: var(--default-header-background-color);
    height: var(--default-header-height);
    line-height: var(--default-header-height);
}

.app > .header .logo {
    height: 80%;
    margin-bottom: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: auto;
}
